<label>
    Amount: <br />
    {{input value=amount}}		 
    <br/>
    {{#each predefeinedAmount in predefinedAmounts}}
        <button {{action "setAmount" predefeinedAmount}}>{{predefeinedAmount}}</button>
    {{/each}}
</label>

