<ul class="navbar">
	<li>
		Bets10
	</li>
    <li>
        {{#link-to "deposit" activeClass="selected"}}Deposit Page{{/link-to}}
    </li>
    <li>
        {{#link-to "withdraw" activeClass="selected"}}Withdraw Page{{/link-to}}
    </li>
</ul>

<div style="clear: both;">
    {{outlet}}
</div>

